@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient{
  background: linear-gradient(to right, #56e356  , #028e02);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bgGradient{
  background: linear-gradient(to right, #56e356 , #028e02);
}

body{
  font-family: 'Montserrat';
  background-color: #222629;
  overflow-x: hidden;
}
  